<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render 'partials/navbar' %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <h4>Create an article</h4>
      <%= render 'partials/form' %>
    </div>
  </main>
</div>
