<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render 'partials/navbar' %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <h4>Showing selected article</h4>
      <p>Title: <%= @article.title %></p>
      <p>Description: <%= @article.description %></p>
    </div>
  </main>
</div>
