<%= render 'partials/navbar' %>
<h1 class="header center">Welcome To ShMedium</h1>
<h5 class="center">The not so great Medium clone</h5>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="large material-icons">language</i></h2>
                    <h5 class="center">Read Stories From Around The Globe</h5>
                    <p class="light">Read about all the amazing adventures that people have through the great stories posted on ShMedium</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="large material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>
                    <p class="light">With a light weight desgin and plenty of white space, ShMedium is every bloggers dream</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="large material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>
                    <p class="light">Just start typing and post when you are finish. It's that easy! User login system to come</p>
                </div>
            </div>
        </div>

    </div>
</div>
